header {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 4rem;
    height: auto;
}

.img_game {
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.borda-separacao {
    width: auto;
    height: 2.5rem;
    margin-bottom: 2.5rem;
    /* border-bottom: 1px solid #e5e5e5; */
}

.borda-separacao-2 {
    width: auto;
    height: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #e5e5e562;
}

.btn {
    margin-top: 10px;
}

.btn-danger {
    background-color: rgb(53, 53, 53);
    border-color: rgb(92, 92, 92);
}

.efeito-blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.btn-purple {
    color: #fff;
    background: radial-gradient(902px at 10% 20%, rgb(18, 50, 90) 0%, rgb(207, 199, 252) 100.2%);
    border-color: rgb(18, 50, 90);
}

.btn-purple:hover {
    color: #fff;
    background: radial-gradient(902px at 10% 50%, rgb(18, 50, 90) 0%, rgb(207, 199, 252) 50.2%);
    border-color: rgb(18, 50, 90);
}

.table {
    border-collapse: separate; 
    border-spacing: 0 10px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    color: white;
    background: linear-gradient(to bottom, #20284d 0%, #0f142b 100%);
  }

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1e2333;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #11a8fd, #117eed);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #0d8de8, #0d7ada);
}
